<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test_servlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisServlet</servlet-name>
        <servlet-class>Servlet.DisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisServlet</servlet-name>
        <url-pattern>/dis_servlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindAllUsrServlet</servlet-name>
        <servlet-class>Servlet.FindAllUsrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindAllUsrServlet</servlet-name>
        <url-pattern>/findAllUsrServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginUserInfoServlet</servlet-name>
        <servlet-class>Servlet.LoginUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUserInfoServlet</servlet-name>
        <url-pattern>/loginUserInfoServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutServlet.do</url-pattern>
    </servlet-mapping>
</web-app>
